
<DOCTYPE <!DOCTYPE <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Web Tools</title>
  
        <h1>
          <br />
          <br />
          <center>Math Game for Kids</center>
        </h1>
  
        <!-- Sets background color -->
        <body bgcolor="99afff"></body>
  
        <!--Tells index.html about existence of style.css file -->
        <!-- <link href={ url_for('static', filename='style.css') } rel="stylesheet" type="text/css" /> -->

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  
        <!--Tells index.html about existence of script.js file -->
        <!-- <script src="script.js"></script> -->
      


        
      </head>
      <body>
      
      <form action="." method="POST">
        
        <!-- <h2 id="studentNamesL">For Tatiana and Juan</h2> -->
        <h2 id="additionL">Additions</h2>
        <textarea name='naddNumber1Box' id="addNumber1Box" rows="1" cols="5">{{number1Py}}</textarea>
        
        <h3 id="additionSignL">+</h3>
        <textarea name='naddNumber2Box' id="addNumber2Box" rows="1" cols="5">{{number2Py}}</textarea>
        
        <h3 id="addEqualSignL">=</h3>
        <textarea name='naddtSudentResultBox' id="addtSudentResultBox" rows="1" cols="5">{{number3Py}}</textarea>
        
        
        <textarea id="addtCalculatorResultBox" rows="1" cols="5">{{number4Py}}</textarea>
        
        <textarea id="addEvaluationBox" rows="2" cols="35">{{text5Py}}</textarea>
        
  
        

        <input
          type="submit"
          name="nsubmit2Html"
          id="addSubmit"
          value="Verification" 
        />
  
        <input
          type="submit"
          name="nsubmit3Html"
          id="addClearSubmit"
          value="Clear addition" 
        />
  
        




      </form> 
      </body>
    </html>
  </DOCTYPE>
  
  
  